body {
  overflow: hidden;
}
#timeline-scroll-container {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
#timeline-scroll-container::-webkit-scrollbar {
  display: none;
}
